	<div id="mapBg"></div>
	<div id="contact" class="color blue">
		
		<div class="container">

			<div class="wrapper span12">

			<div id="page-title">

				<div id="page-title-inner">

						<h2><span>Contact</span></h2>

				</div>	

			</div>
			
			<div class="row-fluid">		
				
				<div class="span12">
					
					<p style="text-align : center">
					<b>XProjets</b> •
					Ecole polytechnique •
					Route de Saclay •
					91120 Palaiseau •
					FRANCE <br />
					<!--strong>Phone</strong>: 06 36 96 24 11 •-->
                    <strong>Phone</strong>: 06 77 09 80 94 •>
					<strong>Phone bis</strong> : 01 69 33 27 22 •
					<strong>Fax</strong>:  01 69 33 27 23 •
					<strong>Email</strong>: contact@xprojets.com	
					</p>
				
				</div>	
			
			</div>
			
			<hr class="clean">
			
			<!--div class="row-fluid">		
			
				<div class="span6">
					
					<div id="contact-form">
	
					{{ render(controller('JuniorSiteBundle:Site:mail')) }}

					</div>
					

				</div>
				
				<div class="span6">
					
					<div id="googlemaps">
						<div id="map" class="google-map google-map-full"></div>
					</div>

				
				</div>	
			
			</div-->

			</div>
		
		</div>
		
	</div>
