<!-- start: 2nd Page - Mot du président -->
	<div id="services" class="color black">
		
		<!--start: Container -->
		<div class="container">

			<!--start: Wrapper -->
			<div class="wrapper span12">
				
							<!-- start: Page Title -->
			<div id="page-title">

				<div id="page-title-inner">

					<h2><span>{{'Mot du président'|trans}}</span></h2>

				</div>	

			</div>
			<!-- end: Page Title -->
			
			<!-- start: Row -->
      		<div class="row-fluid">
	
        		<div class="span12" >
					
					<div id="mot-president">	
					
					<p>
						{% trans %}XProjets est la Junior-Entreprise de l'École polytechnique. Elle sera pour vous une passerelle permettant l’accès direct aux élèves de l’X, première école d’ingénieurs de France. Pour ces derniers, se confronter aux réalités du monde professionnel en mettant à profit leurs capacités est une priorité.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}Être la Junior-Entreprise de l’École polytechnique c’est être le reflet d’une école reconnue sur le plan international pour la qualité et la rigueur de l’enseignement pluridisciplinaire qu’elle offre à ses élèves. L’école met également à disposition des élèves des laboratoires de niveau mondial et les installations du Drahi-X-Novation Center, centre d’innovation et d’entrepreneuriat.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}C’est dans cet écosystème scientifique propice à l’innovation comme à la création, dans une culture de la transdisciplinarité qu’XProjets réalise des missions dans de multiples secteurs. Les missions d’analyse de données, de mécanique, de chimie industrielle ou encore d’études de marché, pour ne citer que celles-ci, soulignent l’importance de notre polyvalence.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}L’École polytechnique exprime ainsi à travers sa Junior-Entreprise toute l’efficacité, la rigueur et l’excellence qui fondent sa tradition. Forts de la diversité et de la richesse des formations qui leur sont proposées (cycle ingénieur, master, graduate degree…), les étudiants de l’École polytechnique sont capables de réaliser des missions de haut niveau, tant sur le plan technique que conceptuel.{% endtrans %}
					</p>	
					
					<p>
						{% trans %}XProjets met à votre service toutes les qualités d’analyse, d’innovation, de rigueur et d’esprit critique des polytechniciens, en apportant un suivi de qualité, doublé d’une disponibilité et d’un dynamisme qui témoignent de notre investissement et qui, je vous le garantis, dépasseront vos attentes pour la réussite de vos projets.{% endtrans %}
                    </p>
					
					<p>
						{% trans %}Notre objectif : votre satisfaction.{% endtrans %}
					</p>	

					<p style="text-align : right; margin-top : 70px;">
					{{'Khalil El Jahiri'|trans}} </br />
					{{'Président d\'XProjets'|trans}}
					</p>
					
					</div>
					
					<div id="img-president">
					<img src="{{ asset('img/president2016.jpg') }}" class="img-circle img-polaroid" />
					</div>

					
        		</div>

			
			</div>
			<!-- end: Row -->	
	
      		<!--
      		<div class="row-fluid">
	
        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-beaker"></i>
						<h3>Mobile</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-thumbs-up"></i>
						<h3>Web</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

        		<div class="span4">
          			<div class="icons-box">
						<i class="fa-icon-heart-empty"></i>
						<h3>Responsive</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
						</p>
						<div class="clearfix"></div>
					</div>
        		</div>

			</div>
			end: Row -->
			
			<div class="clearfix"></div>
			<hr class="clean">					
			</div>
			<!-- end: Wrapper -->
		
		</div>
		<!--end: Container -->
		
	</div>
<!-- end: 2nd Page - Services -->
	