<footer>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<div id="copyright">
			<a href="http://bootstrapmaster.com" alt="Bootstrap Themes">Bootstrap Themes</a> Designed by BootstrapMaster
	</div>
	<div id="copyright">
		Website by Anas OUAALINE
	</div>
</footer>	